@use './variables';
@use './mixins';

main {
  @include mixins.flex-Container;
  @include mixins.topPosition;
  @include mixins.columnFC;
    height: 100vh;
}

header,
.intro-juego {
  padding: variables.$sp-md variables.$sp-lg variables.$sp-xs;
  h2 {
    font-size: variables.$txt-subtitle;
    font-weight: variables.$fontweigth-regular;
    font-family: variables.$secondary-font;
    color: variables.$black-color-55;
    line-height: variables.$lh-normal;
    font-style: italic;
  }
}
.intro-juego {
  padding: 0 variables.$sp-lg variables.$sp-xs;
}
.zona-botones {
  padding: variables.$sp-lg variables.$sp-lg variables.$sp-xs;
  gap: variables.$sp-md;
  margin-bottom: variables.$sp-lg;
  @include mixins.flex-Container;
  @include mixins.centerFC;
  @include mixins.columnFC;
  
}
.zona-paginacion {
  padding: variables.$sp-sm 0 variables.$sp-xs;
  gap: variables.$sp-md;
  @include mixins.flex-Container;
  @include mixins.centerFC;
  border-top: 1px solid variables.$black-color-10;
  margin-bottom: variables.$sp-xxl;
}

footer {
  background-color: variables.$primary-color-shadow;
  padding: variables.$sp-md 0 variables.$sp-xs 0;
  @include mixins.txt-center;
  margin-top: auto;
}


/*====================================
    Responsive768
============================================== */
@media screen and (min-width:768px) {
  .container-Principal,
  .container-pregunta,
  .detalleCard {
    width: variables.$ws-xl;
    @include mixins.center-M0auto;
  }
  .container-catalogo{
    width: variables.$ws-xxxl;
    @include mixins.center-M0auto;
  }
  header {
    width: variables.$ws-lg;
    padding: variables.$sp-lg variables.$sp-xl variables.$sp-xs;
    @include mixins.center-M0auto;
  }
  .intro-juego {
    padding: 0;
    width: 80%;
    @include mixins.center-M0auto;
  }
  .zona-botones {
    @include mixins.rowFC;
  }

}
/*cierra 768*/

/* ===========================================
    Responsive 990
============================================== */
@media screen and (min-width:990px) {
  header {
      width: variables.$ws-md;
      padding: variables.$sp-xl variables.$sp-xxl variables.$sp-xs;
    }
  .container-Principal,
  .container-pregunta,
  .detalleCard {
    width: variables.$ws-lg;
  }


}
/*cierra 990*/

/* ===========================================
Responsive 1200
============================================== */
@media screen and (min-width:1200px) {

  .container-Principal,
  .container-pregunta,
  .detalleCard {
      width: variables.$ws-md;
    }

}
/*cierra 1200*/

