$primary-color: #006e89;
$primary-color-bg: #d0107d;
$sep-color: #cecece;
$text-color: #131313;
$white: #ffffff;
$black-color-90: #191919;
$black-color-85: #262626;
$black-color-70: #4c4c4c;
$black-color-55: #737373;
$black-color-40: #999;
$black-color-25: #bfbfbf;
$black-color-10: #e5e5e5;
$black-color-5: #f2f2f2;

$primary-font: 'Playfair Display', serif;
$secondary-font: 'Inter', sans-serif;