// @use 'inicio';
// @use 'catalogo';
// @use 'juego';
// @use 'pregunta';
// @use 'resultado';
@use 'variables';
@use 'reset';
@use 'estructura';
@use 'fonts';
@use 'elements';
@use 'mixins';



div > img {
  width: 100%;
}
.w85 {
  width: 85%;
}
.centradoMargin {
  margin: 0 auto;
}
.colorOk {
  color: variables.$black-color-40 ;
}