@use '../styles/variables';
@use '../styles/mixins';
@use '../styles/style.scss';


.catalogo-grid {
  column-count: 1;
}


.card,
.detalleCard {
  break-inside: avoid;
  /* evita que una card se parta entre columnas */
  margin-bottom: variables.$sp-sm;
  /* border, sombra, radios... */
  img 
    {
      width: 100%;
      display: block;
    }
  .txt-card {
    padding: variables.$sp-md variables.$sp-xl;
  }
  h3 
    {
    font: variables.$fontweigth-bold variables.$txt-title-card variables.$secondary-font;
    @include mixins.mayus;
    color: variables.$secondary-color;
    line-height: variables.$lh-titulo;
    margin-bottom: variables.$sp-xs;
  }
  p
    {
    font: variables.$fontweigth-regular variables.$txt-title-card variables.$secondary-font;
    @include mixins.italica;
    margin-bottom: variables.$sp-sm;
  }
  p.descripcion {
    font-family: variables.$text-font;
    font-style: normal;
    font-size: variables.$txt-normal;
  }
}
.detalleCard {
  h3 {
    font-size: variables.$txt-title-sections;
    
    }
  p {
    font-size: variables.$txt-title-sections;
  }
} 

/*====================================
    Responsive768
==============================================*/
 @media screen and (min-width:768px) {

.catalogo-grid {
    column-count: 2;
  }
}

/*cierra 768*/

/* ===========================================
    Responsive 990
============================================== */
@media screen and (min-width:990px) {
.catalogo-grid {
    column-count: 3;
  }

}

/*cierra 990*/


/* ===========================================
    Responsive 1200
============================================== */
@media screen and (min-width:1200px) {
.catalogo-grid {
    column-count: 4;
  }
}


