@use '../styles/variables';

/* ==============
  ESTILOS COMPONENTE JUEGO
================*/



.correcta {
  color: variables.$primary-color-shadow;
  font-weight: bold;
}

.incorrecta {
  color: variables.$error-color;
}