/* ==============
  ESTILOS COMPONENTE JUEGO
================*/

.containerImage {
  width: 100%;
  margin: 0 auto;
}

.correcta {
  color: green;
  font-weight: bold;
}

.incorrecta {
  color: red;
}