@use '../styles/variables';
@use '../styles/mixins';
@use '../styles/style.scss';

/* ==============
  ESTILOS COMPONENTE RESULTADO
================*/

.txt-Finjuego {
  margin-top: 0px!important;
  position: relative;
  padding:variables.$sp-sm variables.$sp-lg;
  background-color: variables.$primary-color;
  z-index: 1;
  @include mixins.txt-center;
  h3 {
    font-size: variables.$txt-resultado;
    color: variables.$white;
    font-weight: variables.$fontweigth-semibold;
    margin-bottom: variables.$sp-xs;
    @include mixins.mayus;
  }
  p.puntuacion {
    font-size: variables.$txt-resultado;
    color: variables.$secondary-color;
    background-color: variables.$white;
    padding: variables.$sp-xs 0;
    border-radius: variables.$radius-sm;
    span.destacado {
      font-weight: variables.$fontweigth-bold;
    }
  }
  p.mensaje-final {
    font-size: variables.$txt-title-card;
    margin-top: variables.$sp-sm;
    color: variables.$white;
    font-weight: variables.$fontweigth-light;
  }
}